/* src/styles/Customer.css */

.welcome, .menu, .order, .order-confirmation {
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    border: 1px solid #dccdbe;
    border-radius: 10px;
    background-color: #fffaf3;
  }
  
  .welcome h2,
  .menu h2,
  .order h2,
  .order-confirmation h2 {
    color: #4a3326;
  }
  
  .order form input,
  .order form button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
  }
  
  .order form button {
    background-color: #4a3326;
    color: #fff;
    border: none;
    cursor: pointer;
  }

.about {
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.about h2 {
  color: #4a3326;
}

.location {
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.location h2 {
  color: #4a3326;
}

  